In [225]:
import pandas as pd

In [226]:
#Reading the file 'marketing_campaign.csv'.
df = pd.read_csv('marketing_campaign.csv', sep='\t')
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [227]:
print(df.isnull().sum()) #Checking for missing rows in the dataset.

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [228]:
print(df[df.isnull().any(axis=1 )]) #checking for missing Columns in the dataset.

         ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
10     1994        1983  Graduation        Married     NaN        1         0
27     5255        1986  Graduation         Single     NaN        1         0
43     7281        1959         PhD         Single     NaN        0         0
48     7244        1951  Graduation         Single     NaN        2         1
58     8557        1982  Graduation         Single     NaN        1         0
71    10629        1973    2n Cycle        Married     NaN        1         0
90     8996        1957         PhD        Married     NaN        2         1
91     9235        1957  Graduation         Single     NaN        1         1
92     5798        1973      Master       Together     NaN        0         0
128    8268        1961         PhD        Married     NaN        0         1
133    1295        1963  Graduation        Married     NaN        0         1
312    2437        1989  Graduation        Married     NaN        0         0
319    2863        1970  Graduation         Single     NaN        1         2
1379  10475        1970      Master       Together     NaN        0         1
1382   2902        1958  Graduation       Together     NaN        1         1
1383   4345        1964    2n Cycle         Single     NaN        1         1
1386   3769        1972         PhD       Together     NaN        1         0
2059   7187        1969      Master       Together     NaN        1         1
2061   1612        1981         PhD         Single     NaN        1         0
2078   5079        1971  Graduation        Married     NaN        1         1
2079  10339        1954      Master       Together     NaN        0         1
2081   3117        1955  Graduation         Single     NaN        0         1
2084   5250        1943      Master          Widow     NaN        0         0
2228   8720        1978    2n Cycle       Together     NaN        0         0

     Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
10    15-11-2013       11         5  ...                  7             0
27    20-02-2013       19         5  ...                  1             0
43    05-11-2013       80        81  ...                  2             0
48    01-01-2014       96        48  ...                  6             0
58    17-06-2013       57        11  ...                  6             0
71    14-09-2012       25        25  ...                  8             0
90    19-11-2012        4       230  ...                  9             0
91    27-05-2014       45         7  ...                  7             0
92    23-11-2013       87       445  ...                  1             0
128   11-07-2013       23       352  ...                  6             0
133   11-08-2013       96       231  ...                  4             0
312   03-06-2013       69       861  ...                  3             0
319   23-08-2013       67       738  ...                  7             0
1379  01-04-2013       39       187  ...                  5             0
1382  03-09-2012       87        19  ...                  5             0
1383  12-01-2014       49         5  ...                  7             0
1386  02-03-2014       17        25  ...                  7             0
2059  18-05-2013       52       375  ...                  3             0
2061  31-05-2013       82        23  ...                  6             0
2078  03-03-2013       82        71  ...                  8             0
2079  23-06-2013       83       161  ...                  6             0
2081  18-10-2013       95       264  ...                  7             0
2084  30-10-2013       75       532  ...                  1             0
2228  12-08-2012       53        32  ...                  0             0

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
10               0             0             0             0         0
27               0             0             0             0         0
43               0             0             0             0         0
48               0             0             0             0         0
58               0             0             0             0         0
71               0             0             0             0         0
90               0             0             0             0         0
91               0             0             0             0         0
92               0             0             0             0         0
128              0             0             0             0         0
133              0             0             0             0         0
312              1             0             1             0         0
319              1             0             1             0         0
1379             0             0             0             0         0
1382             0             0             0             0         0
1383             0             0             0             0         0
1386             0             0             0             0         0
2059             0             0             0             0         0
2061             0             0             0             0         0
2078             0             0             0             0         0
2079             0             0             0             0         0
2081             0             0             0             0         0
2084             0             1             0             0         0
2228             1             0             0             0         0

      Z_CostContact  Z_Revenue  Response
10                3         11         0
27                3         11         0
43                3         11         0
48                3         11         0
58                3         11         0
71                3         11         0
90                3         11         0
91                3         11         0
92                3         11         0
128               3         11         0
133               3         11         0
312               3         11         0
319               3         11         0
1379              3         11         0
1382              3         11         0
1383              3         11         0
1386              3         11         0
2059              3         11         0
2061              3         11         0
2078              3         11         0
2079              3         11         0
2081              3         11         0
2084              3         11         1
2228              3         11         0

[24 rows x 29 columns]

In [229]:
#Cleaning the dataset
df = df.dropna(subset=['Income'])

df = df.fillna(df['ID'][0])
df = df.fillna(df['Year_Birth'].mode())
df = df.fillna(df['Education'].mode())
df = df.fillna(df["Marital_Status"].mode())
df = df.fillna(df['Kidhome'].mode())
df = df.fillna(df['Teenhome'].mode())
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [230]:
print(df.isnull().sum())
print(df[df.isnull().any(axis =1)])

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64
Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 29 columns]

In [231]:
                    # 1. Descriptive Statistics
# --> Customer Demographics Analysis:
#Calculate the average, median, and mode of the Year_Birth, Income, Kidhome, and Teenhome fields.
year_birth_avg = df['Year_Birth'].mean()
year_birth_avg

np.float64(1968.8203971119133)

In [232]:
year_birth_median = df['Year_Birth'].median()
year_birth_median

np.float64(1970.0)

In [233]:
year_birth_mode = df['Year_Birth'].mode()
year_birth_mode

0    1976
Name: Year_Birth, dtype: int64

In [234]:
income_avg = df['Income'].mean()
income_avg

np.float64(52247.25135379061)

In [235]:
income_median = df['Income'].median()
income_median

np.float64(51381.5)

In [236]:
income_mode = df['Income'].mode()
income_mode

0    7500.0
Name: Income, dtype: float64

In [237]:
kidhome_avg = df['Kidhome'].mean()
kidhome_avg

np.float64(0.4417870036101083)

In [238]:
kidhome_median = df['Kidhome'].median()
kidhome_median

np.float64(0.0)

In [239]:
kidhome_mode = df['Kidhome'].mode()
kidhome_mode

0    0
Name: Kidhome, dtype: int64

In [240]:
teenhome_avg = df['Teenhome'].mean()
teenhome_avg

np.float64(0.5054151624548736)

In [241]:
teenhome_median = df['Teenhome'].median()
teenhome_median

np.float64(0.0)

In [242]:
teenhome_mode = df['Teenhome'].mode()
teenhome_mode

0    0
Name: Teenhome, dtype: int64

In [243]:
#Find the range (minimum and maximum) for Year_Birth, Income, Kidhome, and Teenhome.
year_birth_min = df['Year_Birth'].min()
year_birth_max = df['Year_Birth'].max()
print(f'The year birth range is from {year_birth_min} to {year_birth_max}')

The year birth range is from 1893 to 1996

In [244]:
income_min = df['Income'].min()
income_max = df['Income'].max()
print(f'Income range: {income_min} - {income_max}')

Income range: 1730.0 - 666666.0

In [245]:
kidhome_min = df['Kidhome'].min()
kidhome_max = df['Kidhome'].max()
print(f'Kidhome range: {kidhome_min} - {kidhome_max}')

Kidhome range: 0 - 2

In [246]:
teenhome_min = df["Teenhome"].min()
teenhome_max = df['Teenhome'].max()
print(f'Teenhome range: {teenhome_min} - {teenhome_max}')

Teenhome range: 0 - 2

In [247]:
# --> Categorical Analysis:
# Count the occurrences of each unique value in Education, Marital_Status, and Dt_Customer.
education_count = df['Education'].value_counts()
education_count = education_count.astype(int)
education_count

Education
Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: count, dtype: int64

In [248]:
marital_status_count = df['Marital_Status'].value_counts()
marital_status_count = marital_status_count.astype(int)
marital_status_count

Marital_Status
Married     857
Together    573
Single      471
Divorced    232
Widow        76
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

In [249]:
dtCustomer_count = df['Dt_Customer'].value_counts()
dtCustomer_count

Dt_Customer
31-08-2012    12
12-05-2014    11
14-02-2013    11
12-09-2012    11
22-05-2014    10
              ..
01-11-2013     1
10-08-2013     1
11-10-2012     1
20-12-2012     1
09-01-2014     1
Name: count, Length: 662, dtype: int64

In [250]:
#Calculate the percentage distribution for Education and Marital_Status across customers.
pct_education = df['Education'].value_counts(normalize=True) * 100
pct_education  = pct_education.astype(int)
pct_education

Education
Graduation    50
PhD           21
Master        16
2n Cycle       9
Basic          2
Name: proportion, dtype: int64

In [251]:
pct_Marital_status = df['Marital_Status'].value_counts(normalize=True) * 100
pct_Marital_status = pct_Marital_status.astype(int)
pct_Marital_status

Marital_Status
Married     38
Together    25
Single      21
Divorced    10
Widow        3
Alone        0
Absurd       0
YOLO         0
Name: proportion, dtype: int64

In [ ]:
                            # 2. Customer Age Distribution
# --> Calculate each customer's age from their Year_Birth (current year - Year_Birth).